<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h4>Student Portal</h4>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-success" (click)="openModal()">Add New +</button>
    </div>
  </div>
  @if (studentList.length !== 0 ) {
    <div class="row mt-4">
      <div class="col-3" *ngFor="let item of studentList; let i = index">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                {{ item.name }}
              </div>
              <div class="col-6 text-end">
                {{ item.mobileNo }} No:
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>{{ item.city }}, {{ item.state }}, {{ item.pincode }}</p>
            <p>{{ item.address }}</p>
          </div>
          <div class="card-footer ">
            <div class="row">
              <div class="col-7">
                <small>{{ item.email }}</small>
              </div>
              <div class="col-5">
                <button class="btn btn-sm btn-primary" (click)="onEdit(item)"> Edit </button>
                <button class="btn btn-sm btn-danger" (click)="onDelete(item)"> Delete </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div class="row mt-5">
      <div class="col-12 text-center">
        <p class="h5 text-danger"> No records found. Create New Records</p>
      </div>
    </div>
  }
</div>

<!-- The Modal -->
<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header d-flex justify-content-between">
        @if (studentObj.id == 0) {
          <h4 class="modal-title">Create New Student</h4>
        } @else {
          <h4 class="modal-title">Edit Student</h4>
        }
        <button type="button" class="close rounded border-none" (click)="closeModal()"
          data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label for="">Name </label>
            <input type="text" [(ngModel)]="studentObj.name" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-6">
            <label for="">Mobile No </label>
            <input type="text" [(ngModel)]="studentObj.mobileNo" class="form-control" placeholder="Mobile No">
          </div>
          <div class="col-6">
            <label for="">Email </label>
            <input type="text" [(ngModel)]="studentObj.email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-4">
            <label for="">City</label>
            <input type="text" [(ngModel)]="studentObj.city" class="form-control" placeholder="City">
          </div>
          <div class="col-4">
            <label for="">State </label>
            <input type="text" [(ngModel)]="studentObj.state" class="form-control" placeholder="State">
          </div>
          <div class="col-4">
            <label for="">Pincode </label>
            <input type="text" [(ngModel)]="studentObj.pincode" class="form-control" placeholder="Pincode">
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <label for="">Address</label>
            <textarea name="" id="" rows="3" class="form-control" [(ngModel)]="studentObj.address"></textarea>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()" data-dismiss="modal">Close</button>
        @if (studentObj.id == 0 ) {
          <button type="button" class="btn btn-primary" (click)="saveStudent()" data-dismiss="modal">Save</button>
        } @else {
          <button type="button" class="btn btn-success" (click)="updateStudent()" data-dismiss="modal">Update</button>
        }
      </div>

    </div>
  </div>
</div>